/***** FONTS *****/
@font-face {
    font-family: FonteTitle;
    src: url("../assets/fonts/Saira-Bold.ttf");
}

@font-face {
    font-family: FonteBody;
    src: url("../assets/fonts/Armata-Regular.ttf");
}

/***** GERAL *****/
main{
    width: 95%;
	margin: auto;
}

html{
	font-family: FonteBody;
}

body{
	margin: 0;
	color: white;
	background-color: #363636;
}

.container {
	max-width: 1920px;
	width: 100%;
	position: relative;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
}

.foco:hover{
	outline: solid #43CD80;
}

/***** HEADER *****/
header {
	position: relative;
	top: 0;
	height: auto;
    width: 100%;
}

.header-titulo{
	margin-bottom: 2px;
	text-align: center;
	font-size: 30px;
	font-family: FonteTitle;
}

/***** NAVBAR *****/
.nav-container {
	max-width: 1200px;
	height: 50%;
	position: relative;
	margin-top: -23px;
	margin-left: auto;
    margin-right: auto;
	background-color: #00000054;
	border-radius: 8px;
}

/***** SECTION *****/
.section-container{
	margin: 0;
	max-width: 1200px;
	position: relative;
	margin-bottom: 20px;
	margin-left: auto;
    margin-right: auto;
    background: #00000054;
    border-radius: 8px;    
}

.section-title{
	padding: 5px;
	text-align: center;
	margin-bottom: 5px;
	font-family: FonteTitle;
}

.section-text{
	text-align: justify;
	padding: 5px;
	margin: 5px;
}

.perfil-foto{
	margin: 0;
	text-align: center;
}

.perfil-foto-item{
	border-radius: 8px;
}

.links-projetos{
	color: white;
	font-family: FonteTitle;
	font-size: 20px;
	text-decoration: none;	
}

.links-projetos:hover{
	color: #43CD80;
}

/***** FOOTER *****/
.footer-main {
    max-width: 1200px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding: 1em 0;
	border-radius: 8px; 
	background-color: #00000054;
}

.footer-text{
	font-family: FonteTitle;
	font-size: 15px;
	padding: 5px;
	margin: 5px;
}

#footer-link{
	float: right;
	color: white;
	text-decoration: none;
	font-family: FonteTitle;
}
